<div class="row">
	<div class="col-md-12">
		<div class="map" id="map"
		         style="height: 650px"
		         data-latitude="-34.397"
		         data-longitude="150.644">
		</div>
	</div>
</div>
<script>
$(function() {
    var home;
    home = new PhotoBook.Views.Home($('#map'));
});
</script>