// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mcontainer{
	  width: 450px;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}
.gm-style-iw {
   width: 450px !important;
   background-color: #0CB9F2;
}