<div id="mcontainer">
	<div class="flexslider" id='<%= name %>'>
		<ul class="slides">
			 <% images.each do |img| %>
				<li>
				    <%= image_tag img.file.url(:thumb) %>
				</li>
			 <%end%>
		 </ul>
	</div>
</div>
