
<div id="iw-container">
  <div class="iw-title"><%= link_to "See all images in this point&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, images_path(lat: lat, lng: lng) %></div>
  <div class="iw-content">
   <div class="iw-subTitle">Images</div>
   <% images.each do |img| %>
    <img src="<%= img.file.url(:thumb) %>" height="100" width="100">
   <%end%>
  </div>
  <div class="iw-bottom-gradient"></div>
</div>