<div id="mcontainer">
  <div id='<%= name %>'>
    <% images.each do |img| %>
      <div>
        <div class="image"><img data-lazy="<%= img.file.url(:thumb) %>"/></div>
      </div>
    <%end%>
  </div>
</div>
